header.main-header
    nav.main-header-nav
        ul.main-header-nav__list 
            li.main-header-nav__list-item
                a.main-header-nav__list-link(href="./") Home
            li.main-header-nav__list-item
                a.main-header-nav__list-link(href="/search.html") Search
            